/* Body general */

html,
body {
  height: 100%;
  position: relative;
}

h3 {
  font-size: 2.75em;
}

/* Colors */

.bg-primary,
.badge.badge-primary {
  background-color: #1e2b3d !important;
}

/* App container */

.app-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

.keyvisual {
  background-image: url("../img/Galapagos-satellite-2002.jpg");
  background-size: cover;
  background-blend-mode: darken;
  background-color: #ddd;
}

.keyvisual .lead,
.keyvisual .display-3 {
  color: #fff;
}

/* Navigation bar */

.lang-switcher.form-control {
  margin-left: 10px;
  font-weight: normal;
  font-size: 26px;
  height: calc(1.35em + 0.75rem + 2px);
  border-radius: 0.2rem;
  background-clip: unset;
  background-color: #f3f3f3;
}

.subline {
  display: block;
  font-size: 11px;
}

.navbar-brand b {
  font-size: 36px;
}

/* Hypothesis logged in */
.hypothesis_logged_in {
  color: #bd1c2b;
}

.zocurelia-logo,
.hypothesis_logged_in {
  display: inline-block;
  position: relative;
  top: -4px;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    margin-left: 30px;
    padding-bottom: 8px;
  }
}

.navbar a {
  font-size: 26px;
}

.section-header {
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}

/* Home */

.img-feature {
  border: 1px solid #ddd;
  margin-bottom: 1em;
}

.motivation-logo {
  width: 20%;
  margin-right: 15px;
}

svg.motivation-logo {
  color: #bd1c2b;
  width: 18%;
}

/* Filter settings */

.req {
  color: #bd1c2b;
}

.btn {
  font-weight: normal;
}

.share-list {
  font-size: 18px;
  margin-top: 8px;
  font-weight: normal;
}

/* Group */

.group-description {
  margin: 10px 0;
}

/* Cards */

.collection-header {
  font-weight: normal;
  padding: 20px 20px;
  margin: 30px 0 14px;
  background: #1e2b3d;
  border-radius: 0.25rem;
  color: #fff;
}

.collection-header a {
  color: #fff;
  text-decoration: underline;
}

.collection-key {
  color: #1e2b3d;
  font-size: 16px;
}

.card {
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.card .tags {
  margin-top: 10px;
}

.card .more-link span {
  display: block;
  margin-top: 10px;
  font-weight: 300;
}

.card-header {
  font-size: 18px;
  background: rgba(18, 90, 187, 0.14);
}

.card .no-full-text {
  font-size: 16px;
  margin-top: 8px;
}

.card-header a {
  font-weight: bold;
}

.card-header .title {
  width: 70%;
  font-weight: bold;
  display: block;
}

.card-header h5 {
  margin-bottom: 0;
}

.card-header .authors,
.card-header .pub_date {
  font-size: 16px;
}

.card-header .zotero-logo {
  width: 18px;
  margin-right: 8px;
  margin-left: 8px;
}

.card-body .vue-simple-markdown.more {
  overflow: hidden;
  height: 60px;
}

.card-footer:last-child {
  padding: 0 20px;
}

/* Annotations */

.badge.badge-primary {
  margin-right: 6px;
}

.hypothesis-group {
  float: right;
  display: block;
  font-size: 12px;
  text-align: right;
  margin: 0 10px 5px 0;
  padding: 0;
}

.annotation-area .service-icon {
  width: 20px;
  float: right;
  margin: 12px 10px;
}

.annotation-area .service-icons {
  clear: both;
  float: none;
  display: block;
}

.annotation-area {
  background: #12bbad;
  border-radius: 5px;
  padding: 5px 5px 5px 0;
  float: right;
}

.annotation-area .hypo-link {
  color: #1e2b3d;
  font-size: 16px;
  margin-left: 15px;
  float: right;
}

.annotation-area .count {
  text-decoration: underline;
  margin-right: 10px;
  padding-top: 3px;
}

.annotation-area .count.badge {
  text-decoration: none;
}

.annotation-area .count.has-annos {
  color: #bd1c2b;
}

/* Transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Settings */

.help {
  background: #eee;
  padding: 15px;
}

.screenshot {
  border: 2px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
}

/* Curator */

.curator {
  margin-top: 10px;
  float: right;
}

.curator h6 {
  font-weight: normal;
  color: #aaa;
}

/* Footer */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

/* Markdown Override */

.vue-simple-markdown .markdown-body > *:last-child {
  margin-bottom: 10px !important;
}

.markdown-body > h4 {
  margin-bottom: 14px !important;
}

/* Responsiveness */

@media (min-width: 320px) {
  .display-3 {
    font-size: 40px;
  }
}

@media (max-width: 780px) {
  .annotation-area {
    float: none !important;
    display: block !important;
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .display-3 {
    font-size: 70px;
  }
}

/* RSS */

/* .rss-icon {
  width: 20px;
  display: inline-block;
  margin: 12px 10px 0 8px;
  padding: 5px 0 0 5px;
  float: left;
} */
