/* Navigation bar */

.navbar a {
  font-size: 26px;
}

.section-header {
  margin-bottom: 8px;
}

.collection-header {
    font-weight: normal;
}

/* Filter settings */

.req {
  color: red;
}

.btn {
  font-weight: normal;
}

.share-list {
  font-size: 18px;
  margin-top: 8px;
  font-weight: normal;
}

/* Cards */

.card {
  margin-bottom: 20px;
}

.card .tags {
  margin-top: 10px;
}

.card .more-link span {
  display: block;
  margin-top: 10px;
  font-weight: 300;
}

.card-header {
  font-size: 18px;
}

.card .hypo-link {
  font-size: 16px;
  margin-right: 6px;
}

.card .no-full-text {
  font-size: 16px;
  margin-top: 8px;
}

.card-header a {
  font-weight: bold;
}

.card-header .title {
  width: 45vw;
  font-weight: bold;
  display: block;
}

.card-header .authors {
  font-size: 16px;
}

.card-header .zotero-logo {
  width: 20px;
  margin-right: 8px;
}

.card-body .vue-simple-markdown.more {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

/* Annotations */

.badge.badge-primary {
  margin-right: 6px;
}

.hypothesis-group {
  display: block;
  font-size: 12px;
  text-align: right;
}
