.card {
    margin-bottom: 20px;
}

.card .tags {
    margin-top: 10px;
}

.card .more-link span {
    display: block;
    margin-top: 10px;
    font-weight: 300;
}

.card-header {
    font-size: 22px;
}

.card-header a {
    font-weight: bold;
}

.card-header .title {
    width: 45vw;
    font-weight: bold;
    display: block;
}

.card-body .vue-simple-markdown.more {
    text-overflow: ellipsis; 
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.badge.badge-primary {
    margin-right: 6px;
}